
$space-01: 0.1rem;
$space-02: 0.2rem;
$space-03: 0.3rem;
$space-05: 0.5rem;
$fsize-1: 1rem;
$fsize-113: 1.13rem;
$fsize-15: 1.5rem;
$fsize-2: 2rem;
$fsize-25: 2.5rem;
$fsize-3: 3rem;
$fsize-35: 3.5rem;